@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Set your desired background color */
  --foreground: #000000; /* Set your desired foreground color */
}

body {
}

h1 {
  font-family: var(--caveat);
}

h2,
h3 {
  font-family: var(--roboto);
  font-weight: 900;
}