@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Set your desired background color */
  --foreground: #000000; /* Set your desired foreground color */
}

body {
  font-family: 'Nunito', sans-serif;
}